body {
    /* box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0; */
    background: #202020;
    color: #ffffff;
}

.page {
    /* box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column; */
    max-width: 1280px;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
