.about-me {
    padding: 110px 70px 0;
}

.about-me__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid #dadada;
    height: 50px;
    margin: 0 0 67px 0;
}

.about-me__info {
    display: flex;
    justify-content: space-between;
}

.about-me__description {
    max-width: 600px;
}

.about-me__student-name {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin-bottom: 18px;
}

.about-me__student-specialization {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
    margin-bottom: 26px;
}

.about-me__student-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    margin-bottom: 95px;
}

.about-me__student-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
}

.about-me__student-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.about-me__profile-photo {
    width: 270px;
    height: 327px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .about-me {
        padding: 90px 50px 0;
    }

    .about-me__title {
        height: 51px;
    }
    .about-me__student-name {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px; /* 100% */
        letter-spacing: -1.6px;
        margin-bottom: 16px;
    }

    .about-me__student-specialization {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px; /* 111.111% */
        margin-bottom: 20px;
    }

    .about-me__student-info {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 102px;
    }

    .about-me__profile-photo {
        width: 255px;
        height: 307px;
    }

    .about-me__description {
        max-width: 364px;
    }
}

@media (max-width: 320px) {
    .about-me {
        padding: 74px 14px 0;
    }

    .about-me__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        height: 50px;
        margin: 0 0 60px 0;
    }
    .about-me__info {
        flex-direction: column-reverse;
        gap: 38px;
    }

    .about-me__profile-photo {
        width: 292px;
        height: 352px;
    }
    .about-me__student-name {
        font-size: 30px;
        letter-spacing: -1.2px;
        margin-bottom: 18px;
    }
    .about-me__student-specialization {
        font-size: 11px;
        line-height: 16px; /* 145.455% */
    }
    .about-me__student-info {
        font-size: 11px;
        line-height: 16px; /* 145.455% */
        margin-bottom: 54px;
    }
}
