.movieCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 270px;
}

.movieCard__trailer-link {
    width: 100%;
    max-height: 151px;
    margin-bottom: 10px;
}

.movieCard__trailer-link:hover {
    opacity: 0.8;
}

.movieCard__image {
    width: 100%;
    object-fit: cover;
}

.movieCard__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid #424242;
    margin-bottom: 6px;
}

.movieCard__title {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}

.movieCard__duration {
    color: #8b8b8b;
    font-size: 11px;
    font-weight: 400;
}

.movieCard__delete-button {
    background: url('../../images/movieCard-delete-button.svg') center no-repeat;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: #313131;
}

.movieCard__save-button {
    background: url('../../images/movieCard-save-button.svg') center no-repeat;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.movieCard__active-button {
    background: url('../../images/movieCard-active-button.svg') center no-repeat;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.movieCard__save-button:hover,
.movieCard__active-button:hover,
.movieCard__delete-button:hover {
    cursor: pointer;
    opacity: 0.7;
}
