.movie-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 340px;
}

.movie-card__trailer-link {
    width: 100%;
    margin-bottom: 6px;
}

.movie-card__trailer-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.movie-card__image {
    width: 100%;
    height: 151px;
    object-fit: cover;
}

.movie-card__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid #424242;
    margin-bottom: 5px;
}

.movie-card__title {
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}

.movie-card__duration {
    font-family: 'Inter', 'Arial', 'sans-serif';
    color: #8b8b8b;
    font-size: 11px;
    font-weight: 400;
}

.movie-card__delete-button {
    background: url('../../images/movieCard-delete-button.svg') center no-repeat;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: #313131;
}

.movie-card__save-button {
    background: url('../../images/movieCard-save-button.svg') center no-repeat;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.movie-card__active-button {
    background: url('../../images/movieCard-active-button.svg') center no-repeat;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.movie-card__save-button:hover,
.movie-card__active-button:hover,
.movie-card__delete-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 1439px) {
    .movie-card {
        max-width: 28%;
    }
    .movie-card__image {
        height: 190px;
    }
}

@media (max-width: 768px) {
    .movie-card {
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    .movie-card {
        max-width: 300px;
    }
    .movie-card__trailer-link {
        margin-bottom: 6px;
    }
    .movie-card__image {
        height: 168px;
    }
}
