.header {
    /* flex-grow: 0;
    flex-shrink: 0; */
    box-sizing: border-box;
    background: #073042;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 70px;

    position: relative;
}

.header_black {
    background-color: #202020;
}

.header__logo {
    height: 38px;
    width: 38px;
    margin-right: 45px;
}

.header__logo:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .header {
        padding: 18px 30px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 18px 14px;
    }
    .header__logo {
        margin-right: 122px;
    }
}
