.navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navigation__container_position_right {
    justify-content: end;
}

.navigation__link {
    display: inline;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.navigation__link:hover {
    opacity: 0.9;
    cursor: pointer;
}

.navigation__link:not(:last-child) {
    margin-right: 17px;
}

.navigation__no-display {
    display: none;
}

.navigation__display {
    display: block;
}
.navigation__link_type_movies {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.navigation__link_type_movies:active {
    font-weight: 500;
}

.header__account-container {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    height: 32px;
    border-radius: 40px;
    background: #073042;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.header__account-logo {
    width: 10.383px;
    height: 10.669px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__account-logo-container {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background: #0f4157;
    margin: 3px 3px 3px 0;
    position: relative;
}

.header__account-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 12px; /* 92.308% */
    margin-right: 8px;
}

.navigation__authorize {
    align-self: flex-end;
}
.navigation__link_type_login {
    box-sizing: border-box;
    line-height: 16px;
    padding: 8px 20px 10px;
    border-radius: 3px;
    background: #3ddc84;
    color: #000;
}

.navigation__link_type_login:hover {
    opacity: 0.8;
}

.navigation__link_type_registration {
    margin-right: 30px;
}

.navigation__link_type_registration:hover {
    opacity: 0.7;
}

.navigation__burger-menu {
    display: none;
}

.navigation__burger-button {
    display: none;
    height: 44px;
    width: 44px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}

.navigation__burger-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.navigation__burger-button-element {
    height: 3px;
    width: 28px;
    background-color: #fff;
    position: absolute;
    left: 8px;
}

.navigation__burger-button-element:nth-child(1) {
    transform: translateY(-11px);
}

.navigation__burger-button-element:nth-child(2) {
    transform: translateY(-1px);
}
.navigation__burger-button-element:nth-child(3) {
    transform: translateY(9px);
}

@media (max-width: 768px) {
    .navigation__container {
        padding-bottom: 2px;
    }
    .navigation__link:not(:last-child) {
        margin-right: 31px;
    }
    .navigation__link_type_movies {
        display: none;
    }
    .header__account-container {
        display: none;
    }

    .navigation__burger-button {
        display: block;
    }
}

@media (max-width: 320px) {
    .navigation__link {
        font-size: 10px;
        line-height: 16px;
    }

    .navigation__link:not(:last-child) {
        margin-right: 14px;
    }

    .navigation__link_type_login {
        padding: 8px 12px 6px;
    }

    .navigation__burger-button {
        height: 43px;
        width: 39px;
    }

    .navigation__burger-button-element {
        height: 3px;
        width: 22px;
        background-color: #fff;
        position: absolute;
        left: 8px;
    }

    .navigation__burger-button-element:nth-child(1) {
        transform: translateY(-9px);
    }

    .navigation__burger-button-element:nth-child(2) {
        transform: translateY(0);
    }
}
