.search-form__toggle-form {
    margin: 0 14px 0 29px;
    display: flex;
    justify-content: center;
}

.search-form__toggle-input {
    width: 36px;
    height: 20px;
    border: none;
    border-radius: 16px;
    outline: none;
    position: relative;
    cursor: pointer;
    appearance: none;
    background-color: #343434;
}

.search-form__toggle-input::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    top: 2px;
    left: 2px;
    transition: 0.3s ease;
    border-radius: 50%;
    background-color: #a0a0a0;
    background-image: url('../../images/toggle-round.svg');
}
.search-form__toggle-input:focus {
    outline-color: green;
}

.search-form__toggle-input:checked::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    transition: 0.3s ease;
    transform: translate(16px);
    background-color: #2be080;
    background-image: url('../../images/toggle-round.svg');
}
@media (max-width: 768px) {
    .search-form__toggle-form {
        margin: 0px 15px 0 19px;
    }
}
