.movies-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 70px 100px;
}

.movies-card-list__list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-column-gap: 20px;
    grid-row-gap: 37px;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 60px;
}

.movies-card-list__button {
    font-family: 'Inter', 'Arial', 'sans-serif';
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background: #2f2f2f;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border: none;
    padding-top: 5px;
}

.movies-card-list__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 80px;
    min-height: 140px;
}

.movies-card-list__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.movies-card-list__more-button_invisible {
    display: none;
}

.movies__no-display {
    display: none;
}

.movies-card-list__search-error {
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #a0a0a0;
}

@media (max-width: 1439px) {
    .movies-card-list {
        padding: 78px 5.5% 98px;
    }
    /* .movies-card-list__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        gap: 19px;
    } */
}

@media (max-width: 1280px) {
    .movies-card-list {
        padding: 78px 4.5% 98px;
    }
    .movies-card-list__list {
        grid-template-columns: repeat(4, 270px);
        grid-column-gap: 25px;
    }
}
@media (max-width: 1200px) {
    .movies-card-list {
        padding: 78px 4% 98px;
    }
    .movies-card-list__list {
        grid-template-columns: repeat(4, 250px);
        grid-column-gap: 25px;
    }
}
@media (max-width: 1140px) {
    .movies-card-list__list {
        grid-template-columns: repeat(4, 230px);
        grid-column-gap: 20px;
    }
}
@media (max-width: 1024px) {
    .movies-card-list__list {
        grid-template-columns: repeat(4, 200px);
        grid-column-gap: 20px;
    }
}
@media (max-width: 901px) {
    .movies-card-list__list {
        grid-template-columns: repeat(4, 170px);
        grid-column-gap: 15px;
    }
}
@media (max-width: 801px) {
    .movies-card-list__list {
        grid-template-columns: repeat(3, 150px);
        grid-column-gap: 10px;
    }
}

@media (max-width: 768px) {
    .movies-card-list__list {
        display: grid;
        grid-template-columns: repeat(3, 190px);
        grid-column-gap: 20px;
    }
}
@media (max-width: 700px) {
    .movies-card-list__list {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-column-gap: 20px;
    }
}
@media (max-width: 480px) {
    .movies-card-list__list {
        display: grid;
        grid-template-columns: 220px;
        grid-row-gap: 33px;
        padding: 0;
        margin-bottom: 58px;
    }
}

@media (max-width: 320px) {
    .movies-card-list {
        padding: 49px 10px 98px;
    }
    .movies-card-list__more-button {
        width: 240px;
    }
}
